.title-contacts {
  margin-bottom: 24px;
}

.contacts-wrapper {
  display: flex;
}

.contact__tel {
  width: 50%;
}

.tg {
  width: 50%;
}

.contact__tel::before,
.contact__telgram:before {
  margin-bottom: 26px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__tel::before {
  background-image: url(../resources/phone.png);
}

.contact__telgram:before {
  background-image: url(../resources/email.png);
}

.contact__tel {
  display: block;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  white-space: nowrap;
  word-spacing: 4px;
}

.contact__telgram-link {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 2px solid #121212;
}

@media (max-width: 1199px) {
  .contact__tel {
    font-size: 45px;
  }

  .contact__telgram-link {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .title-contacts {
    margin-bottom: 20px;
  }

  .contacts-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .contact__telgram:before,
  .contact__tel::before {
    margin-bottom: 20px;
    width: 18px;
    height: 18px;
  }

  .contact__tel {
    font-size: 35px;
    line-height: 46px;
  }

  .contact__telgram-link {
    font-size: 35px;
    line-height: 46px;
    opacity: 1;
  }
}
