.footer-container {
  padding: 60px 0 30px 0;
  background-color: #121212;
}

.foter-inner {
  margin-bottom: 87px;
}

.footer-nav {
  margin: auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer__nav-link {
  color: #fff;
}

.footer__nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-description {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer-container {
    padding: 30px 0 26px 0;
  }

  .foter-inner {
    margin-bottom: 41px;
  }

  .footer-nav {
    width: 281px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__nav-link:hover {
    opacity: 0.5;
  }

  .footer-description {
    font-size: 13px;
    line-height: 18px;
  }
}
