.header {
  padding: 33px 0 70px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  width: 127px;
  height: 21px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.identical-text {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}

.identical-text:hover {
  width: 100%;
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199px) {
  .burger__nav-text {
    font-size: 25px;
    line-height: 34px;
    color: #000000;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .logo-link {
    width: 96px;
    height: 16px;
  }
}
