@import url(header.css);
@import url(projects.css);
@import url(services.css);
@import url(contacts.css);
@import url(footer.css);
@import url(intro.css);
@import url(gallery.css);
@import url(about-us.css);
@import url(revievs.css);
@import url(link.css);
@import url(popup.css);
@import url(input.css);
@import url(order.css);
@import url(burger.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope";
  font-weight: 400;
  background-color: #fff;
}

.body_fixed {
  overflow: hidden;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.mb-150 {
  margin-bottom: 150px;
}

h1,
h2,
h3,
a,
p,
div {
  letter-spacing: -0.03em;
}

h1,
h2,
h3 {
  color: #121212;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  line-height: 41px;
}

.services-container h1,
.services-container h2,
.services-container h3,
.intro__description {
  color: #ffffff;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 17px;
    padding-right: 15px;
  }

  .mb-150 {
    margin-bottom: 120px;
  }

  h3 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 12px;
  }

  .mb-150 {
    margin-bottom: 80px;
  }

  h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }
}
