html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope";
  font-weight: 400;
  background-color: #fff;
  min-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
a,
p,
div {
  letter-spacing: -0.03em;
}

.nav-container {
  width: 1150px;
  margin: 0 auto;
  padding: 33px 0 70px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1150px;
}

.logo-link {
  width: 127px;
  height: 21px;
}

.all-menu {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.nav-link {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 58px;
  color: #121212;
}

.nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-link:nth-child(4) {
  margin-right: 0;
}

.container-chair {
  width: 1150px;
  margin: 0 auto 150px;
}

.container-chair h1 {
  width: 956px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  margin-bottom: 30px;
}

.img-chair {
  position: relative;
  background-image: url("../resources/chair.png");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

.img-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
}

.container-about-us {
  width: 1150px;
  margin: 0 auto 150px;
}

.about-us-wrapper {
  width: 1051px;
}

.menu-about-us {
  width: 51px;
  color: #121212;
}

.text-about-us {
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  margin-bottom: 30px;
}

.link-services {
  display: block;
  width: 255px;
  background-color: #ad1818;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
}

.container-projects {
  width: 1150px;
  margin: 0 auto 150px;
}

.menu-projects {
  width: 79px;
  color: #121212;
}

.card-project {
  width: 100%;
  height: 548px;
  margin-bottom: 90px;
}

.card-project h3 {
  font-size: 30px;
  line-height: 41px;
  color: #121212;
  margin: 15px 0;
}

.card-project a {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

.link-all-projects {
  display: block;
  width: 100%;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  color: #ad1818;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  padding: 56px 0;
}

.link-all-projects:hover {
  color: #ffffff;
  background-color: #ad1818;
  transition: all 0.5s ease;
}

.container-services {
  background-color: #121212;
  min-width: 100%;
  padding-top: 151px;
}

.service-title {
  width: 1150px;
  margin: 0 auto;
}

.menu-services {
  color: #ffffff;
  margin-bottom: 34px;
}

.container-services-wrapper {
  width: 1400px;
  padding: 0 125px 150px;
  margin: 0 auto;
}

.card-service {
  margin-bottom: 60px;
  min-width: 1150px;
  height: 326px;
}

.card-services-text {
  margin-top: 15px;
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
  word-spacing: 1px;
}

.card-service:nth-last-child(1) {
  margin-bottom: 0;
}

.container-apartment {
  width: 100%;
  margin: 0 auto;
}

.img-apartment {
  position: relative;
  height: 717px;
  min-width: 1400px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.52%,
      rgba(0, 0, 0, 0.4) 82.81%
    ),
    url("../resources/apartment.png");
  background-repeat: no-repeat;
}

.text-apartment {
  position: absolute;
  bottom: 60px;
  left: 125px;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
}

.container-contacts {
  padding: 150px 125px;
  margin: 0 auto;
  width: 1400px;
  height: 553px;
}

.title-contacts {
  margin-bottom: 32px;
}

.title-contacts::before {
  margin-bottom: 12px;
  margin-left: -5px;
  content: "";
  background-image: url(../resources/phone.png);
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tel-contacts {
  margin-top: 32px;
  margin-bottom: 30px;
  display: block;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  word-spacing: 4px;
}

.email-contacts {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 2px solid #121212;
}

.container-footer {
  padding: 60px 0 30px 0;
  background-color: #121212;
}

.nav-footer {
  width: 460px;
  margin: 0 auto;
}

.footer-link {
  margin-right: 53px;
  display: inline-block;
  margin-bottom: 0;
  color: #fff;
}

.footer-link:hover {
  opacity: 0.5;
}

.footer-link:nth-child(4) {
  margin-right: 0;
}

.footer-text {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}
